# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [3]:
import pandas as pd

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [4]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [7]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [8]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population info.governor    state shortname
0        Dade       12345    Rick Scott  Florida        FL
1     Broward       40000    Rick Scott  Florida        FL
2  Palm Beach       60000    Rick Scott  Florida        FL
3      Summit        1234   John Kasich     Ohio        OH
4    Cuyahoga        1337   John Kasich     Ohio        OH

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [89]:
# load json as string
data1 = json.load((open('data/world_bank_projects.json')))

In [90]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [91]:
import pandas as pd
sample_json_df=pd.read_json('data/world_bank_projects.json')
sample_json_df.dropna()
sample_json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
sector                      500 non-null object
supplementprojectflg        498 non-null object
projectfinancialtype        500 non-null object
prodline                    500 non-null object
mjtheme                     491 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
project_name                500 non-null object
mjthemecode                 500 non-null object
closingdate                 370 non-null object
totalcommamt                500 non-null int64
id                          500 non-null object
mjsector_namecode           500 non-null object
docty                       446 non-null object
sector1                     500 non-null object
lendinginstr                495 non-null object
countrycode                 500 non-null object
sector2                     380 non-null object
totalamt                    500 non-null int64
mjtheme_namecode            500 non-null object
boardapprovaldate           500 non-null object
countryshortname            500 non-null object
sector4                     174 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
regionname                  500 non-null object
status                      500 non-null object
country_namecode            500 non-null object
envassesmentcategorycode    430 non-null object
project_abstract            362 non-null object
approvalfy                  500 non-null int64
projectdocs                 446 non-null object
lendprojectcost             500 non-null int64
lendinginstrtype            495 non-null object
theme1                      500 non-null object
grantamt                    500 non-null int64
themecode                   491 non-null object
borrower                    485 non-null object
sectorcode                  500 non-null object
sector3                     265 non-null object
majorsector_percent         500 non-null object
board_approval_month        500 non-null object
theme_namecode              491 non-null object
countryname                 500 non-null object
url                         500 non-null object
source                      500 non-null object
projectstatusdisplay        500 non-null object
ibrdcommamt                 500 non-null int64
sector_namecode             500 non-null object
_id                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB

In [92]:
country_name = sample_json_df.countryname.value_counts()
print('Top 10 countries with most project are-')
print(country_name.head(10))

Top 10 countries with most project are-
Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

In [93]:
theme_df = json_normalize(data1,'mjtheme_namecode' )
theme_count = theme_df.code.value_counts()
print ('Top 10 popular project themes - ')
print(theme_count.head(10))

#print(json_normalize_df)

Top 10 popular project themes -
11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
Name: code, dtype: int64

In [94]:
print(theme_df.head(30))

   code                                          name
0     8                             Human development
1    11
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration
11    4      Financial and private sector development
12    6         Social protection and risk management
13    6
14    2                      Public sector governance
15    4      Financial and private sector development
16   11  Environment and natural resources management
17    8
18   10                             Rural development
19    7
20    2                      Public sector governance
21    2                      Public sector governance
22    2                      Public sector governance
23   10                             Rural development
24    2
25   10                             Rural development
26    6         Social protection and risk management
27    6         Social protection and risk management
28   11  Environment and natural resources management
29    4

In [95]:
code_dict = dict()
code_set = set(list(theme_df['code']))
for code in code_set:
    code_name = theme_df[theme_df['code'] == code]
    code_name_unique = list(code_name[code_name['name'] != '']['name'])
    code_dict[code] = code_name_unique[0]

for index, row in theme_df.iterrows():
    if theme_df.loc[index, 'name'] == '':
        theme_df.loc[index, 'name'] = code_dict[theme_df.loc[index, 'code']]

print(theme_df.head(30))

   code                                          name
0     8                             Human development
1    11  Environment and natural resources management
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration
11    4      Financial and private sector development
12    6         Social protection and risk management
13    6         Social protection and risk management
14    2                      Public sector governance
15    4      Financial and private sector development
16   11  Environment and natural resources management
17    8                             Human development
18   10                             Rural development
19    7                   Social dev/gender/inclusion
20    2                      Public sector governance
21    2                      Public sector governance
22    2                      Public sector governance
23   10                             Rural development
24    2                      Public sector governance
25   10                             Rural development
26    6         Social protection and risk management
27    6         Social protection and risk management
28   11  Environment and natural resources management
29    4      Financial and private sector development